@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* || General styles */

body {
  font-family: 'Abel', sans-serif;
}

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  /* font-weight: lighter; */
  text-align: center;
  color:#e0a320; /* Set the color to gold */
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  text-align: left;
  font-style: italic;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  text-align: left;
  font-style: bold;
}

p {
  font-family: 'Abel', sans-serif;
}

/* || About */

.about-separator {
  width: 78%;
  border: none;
  border-top: 1px solid rgb(210, 210, 210); /* Gray line separator */
  margin: 15px auto;
}

.about-heading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* object-position: 50% 25%; */
  filter: brightness(70%);
}

.about-heading {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add some text shadow for better readability */
}

.about-subheading {
  position: relative;
  padding: 50px;
}

@media (min-width: 500px) {
  .about-media-container {
    margin: 0 15%;
  }
  .about-media {
    display: grid;
    grid-template-columns: fit-content(30%) 1fr;
    grid-template-rows:1fr auto;
    grid-template-areas:
      "image content"
      "image footer";
    grid-gap: 10px;
    margin-bottom: 3em;
  }

  .about-media-flip {
    grid-template-columns: 1fr fit-content(30%);
    grid-template-areas:
      "content image"
      "footer image";
  }

  /* .about-media-headshot {
    grid-area: image;
  } */

  .about-media-headshot img {
    grid-area: image;
    height: auto; /* Maintain aspect ratio */
    border-radius: 3%;
    object-fit: cover; /* Ensure the image covers the area if necessary */
    max-width: 100%; /* Ensure the image fits within its container */
  }

  .about-media-logo {
    grid-area: image;
    width: 100%; /* Ensure the container takes full width */
    height: auto; /* Ensure the container maintains aspect ratio */
  }

  /* Why is this not working wtf */
  .about-media-logo img {
    grid-area: image;
    width: 70%;
    height: 70%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 3%;
    object-fit: fill; /* Ensure the image covers the area if necessary */
  }

  .about-media-content {
    grid-area: content;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 21px;
    line-height: 1.5;
    align-self: center;
  }

  .about-media-content-flip {
    padding-right: 5%;
    padding-left: 5%;
  }

  .about-media-heading {
    font-size: 27px;
    font-weight: 900;
    padding-bottom: 3%;
  }

  /* fix this :( */
  .about-media-heading a { 
    font-size: 27px;
    font-weight: 900;
    padding-bottom: 3%;
  }

  .about-footer {
    grid-area: footer;
  }

}


/* || Contact */

.info-text {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: 'Abel', sans-serif;
  margin-top: 150px; /* Adjust as needed to position lower on the page */
  justify-content: center;
  width: 64%;
  margin: 5% auto;
}

.separator2 {
  width: 65%;
  border: none;
  border-top: 1px solid rgb(210, 210, 210); /* Gray line separator */
  margin: 60px auto;
}

.highlight {
  margin-left: 15%;
  margin-right: 120px;
  color:#e0a320; /* Set the color to gold */
  font-family: 'Abel', sans-serif;
}

.contact-list {
  margin-left: 17.5%;
  margin-right: 17.5%;
  font-size: 22px;
}

.contact-list ul {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Abel', sans-serif;
}

.contact-list li strong {
  display: block; /* Ensures each name appears on a new line */
  font-weight: bold;
}

.contact-list a {
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  color: #1cae4f; /* Adjust the color as needed */
}

.des-list {
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
  font-family: 'Abel', sans-serif;
}
.highli {
  margin-left: 17.5%;
  margin-right: 17.5%;
  font-family: 'Abel', sans-serif;
  font-weight: 900;
  color:#e0a320; /* Set the color to gold */
}