.highlights {
    color:#e0a320; /* Set the color to gold */
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-bottom: 100px;
    width: 80%;
    margin: 0 auto;
  }

  .event-list {
    width: 80%;
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the events horizontally */
    margin: 0 auto; /* Center the event list container */
    max-width: 800px; /* Optional: set a max-width to control the width of the event list */
    padding: 20px; /* Optional: add some padding */
    margin: 0 auto;
  }
  
  .event {
    font-family: 'Abel', sans-serif;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    width: 100%; /* Ensure the event takes full width of the container */
    max-width: 1000px; /* Optional: set a max-width for each event */
  }
  
  .event-image {
    width: 30%;
    height: auto;
    margin-right: 20px;
  }
  
  .event-details {
    font-family: 'Abel', sans-serif;
    flex: 1;
  }
  
  .event-title {
    font-weight: 900;
    color: gray;
    font-style: normal;
    font-family: 'Abel', sans-serif;
    font-size: 34px;
    margin: 0 0 10px;
  }
  
  .event-description {
    color: gray;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin: 0;
  }
  .event-date {
    font-weight: 900;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: rgb(71, 145, 54);
    margin: 0 0 10px; /* Add margin below the date */
  }
  
  .pagination {
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 50px;
  }
  
  .pagination-btn {
    font-family: 'Abel', sans-serif;
    margin: 0 10px; /* Adjust spacing between buttons */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #000000;
    color: #ffffff;
  }