.highlighted {
    color:#e0a320; /* Set the color to gold */
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
.descrip {
    color:#000000; /* Set the color to gold */
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.bt {
    /* Add styles for the button here */
    font-family: 'Abel', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000000 !important; /* Set border color to gold */
    color: #000000; /* Set text color to gold */
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 30px;
  }
  
  .bt:hover {
    background-color: #000000; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
  }
  .bt-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin-top: 20px; /* Adjust margin as needed */
    left: 50%;
  }

  .separate {
    width: 78%;
    border: none;
    border-top: 1px solid rgb(210, 210, 210); /* Gray line separator */
    margin: 60px auto;
  }
  