.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: gray;
}

.footer-subscription > p {
  font-family: 'Abel', sans-serif; /* Apply Abel font to subscription heading */
  margin-bottom: 50px;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-input {
  font-family: 'Abel', sans-serif; /* Apply Abel font to input fields */
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 24px; /* Adjust top margin as needed */
}

.footer-link-wrapper {
  display: flex;
  align-items: center;
}

.footer-link {
  color: gray;
  text-decoration: none;
  margin: 0 8px;
  font-size: calc(1vw + 9px);
  font-family: 'Abel', sans-serif;
}

.footer-link-separator {
  color: gray;
  font-size: 18px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}