@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel/Abel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: white;
  /* font-family: 'Abel', sans-serif !important; */
  height: 130px; /* You can adjust the height as needed */
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s; /* Add transition for smooth hiding/revealing */
}

.navbar.hidden {
  top: -130px; /* Adjust to hide the navbar completely */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 1500px;
}

.navbar-logo {
  margin-left: 30px;
  margin-right: 30px;
  float: right;
  justify-self: start;
  cursor: pointer;
}

.navbar-logo img {
  max-width: 120px;
  height: auto;
}

/* .fa-typo3 {                not currently in use
  margin-left: 0.5rem;
  font-size: 1.8rem;
} */

.nav-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  text-align: center;
  width: auto; /* Adjusted width */
  justify-content: flex-end; /* Adjusted alignment */
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.nav-item {
  position: relative;
}

.nav-links {
  margin-right: 1.5vw;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  /* font-family: 'Abel', sans-serif; */
}

.nav-links:hover {
  border-bottom: 4px solid #000; /* Adjusted color */
  transition: all 0.2s ease-out;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* .dropdown-menu {           not currently in use
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  z-index: 1;
  list-style: none;
  width: 150px;
  text-align: left;
  padding-left: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-link {
  color: #000;
  text-decoration: none;
}

.dropdown-link:hover {
  color: #4b59f7;
} */

.menu-icon {
  display: none;
}

@media (max-width: 1300px) and (min-width: 960px) {
  .navbar {
    height: 130px; /* 10vw; */
  }

  .navbar-container {
    height: auto;
    width: 20vw;
  }

  .navbar-logo {
    margin-left: 13%;
    margin-right: 10%;
  }
  
  .navbar-logo img {
    width: 9vw;
    height: auto;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    height: 80px; /* You can adjust the height as needed */
  }

  .navbar-logo {
    margin-left: 20px;
    margin-right: 30px;
  }

  .navbar-logo img {
    width: 60px;
    height: auto;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    top: 8vh;
    opacity: 0;
    position: absolute;
    left: -100vw;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0vw;
    opacity: 1;
    z-index: 1;
    padding-bottom: 15vh;
    transition: 
      opacity 0.5s ease;
  }

  .nav-links {
    text-align: center;
    padding-bottom: 5vh;
    width: 100%;
    display: table;
    font-size: 25px;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-bottom: none;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000000;
    font-size: 2rem;
  }

  /* .nav-links-mobile {        not currently in use???
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    text-decoration: none;
    font-size: 3rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  } */

  /* .nav-links-mobile:hover {         also not currently in use????
    background: #fff;
    color: #242424;
    transition: 250ms;
  } */
}
